<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 2.4.0
    </div>
    <strong>Bản quyền &copy; 2014-2016 <a href="#">Keycap Store</a>.</strong> Đăng ký tại clb Shipper
</footer>
