<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li><a href="~/Home"><i class="fa fa-book"></i> <span>Trang chủ</span></a></li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Quản lý dữ liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/employee"><i class="fa fa-circle-o"></i> Quản lý nhân viên</a></li>
                    <li><a href="~/income"><i class="fa fa-circle-o"></i> Quản lý tiền lương</a></li>
                    <li><a href="~/position"><i class="fa fa-circle-o"></i> Quản lý chức vụ</a></li>
                    <li><a href="~/timekeeping"><i class="fa fa-circle-o"></i> Quản lý chấm công</a></li>
                    <li><a href="~/calendar"><i class="fa fa-circle-o"></i> Lịch làm việc</a></li>
                </ul>
            </li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Bán hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/supplier"><i class="fa fa-circle-o"></i> Đơn hàng</a></li>
                    <li><a href="~/order/create"><i class="fa fa-circle-o"></i> Tạo đơn hàng</a></li>
                </ul>
            </li>
            
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Thống kê - báo cáo</span></a></li>    
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
