@model SV19T1081018.Web.Models.PaginationSearchInput
@{
    ViewBag.Title = "Chuc Vu";
}
<div class="box box-">
    <div class="box-header with-border">

    </div>
    <div class="box-body">
        <form id="searchInput" action="~/position/search">
            @Html.HiddenFor(m => m.PageSize)
            <div class="input-group">
                <input type="text" name="searchValue" class="form-control" placeholder="Nhập tên nhân viên" value="@Model.SearchValue">
                <span class="input-group-btn">
                    <button type="submit" id="search-btn" class="btn btn-flat btn-info">
                        <i class="fa fa-search"></i>
                    </button>

                    <a href="~/position/create" class="btn btn-flat btn-primary"
                       style="margin-left: 5px">
                        <i class="fa fa-plus"></i> Thêm chức vụ
                    </a>
                </span>
            </div>
        </form>
        <div id="searchResult">

        </div>

    </div>
    <!-- /.box-body -->
    <!-- /.box-footer-->
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            doSearch(@Model.Page);
            $("#searchInput").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return false;
            });
        });

    </script>

}

