@model SV19T1081018.DomainModel.NguoiDung
@{
    ViewBag.Title = "Chỉnh sửa thông tin cá nhân";
}

<div class="box box-primary" style="border-radius:10px">

    <div class="box-body">
        <form class="form-horizontal" action="~/Account/Save" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(m => m.MaNguoiDung)

            <div class="form-group">
                <label class="control-label col-sm-2">Tên người dùng</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.HoTen, new { @class = "form-control", @autofocus = "" })

                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh cá nhân:</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" name="uploadPhoto" accept="image/*"
                           onchange="document.getElementById('Photo').src = window.URL.createObjectURL(this.files[0])" />

                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-sm-10">
                    <img id="Photo" src="@Model.Anh" class="img img-bordered" style="width:200px" />
                    @Html.HiddenFor(m => m.Anh)
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mật khẩu</label>
                <div class="col-sm-10">
                    <a class="btn btn-primary" href="/account/changepassword">Đổi mật khẩu</a>
                </div>
            </div>



            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-danger">
                    <i class="fa fa-save"></i> Lưu Dữ Liệu

                </button>

                <a class="btn btn-warning" href="~/Home">
                    <i class="fa fa-ban"></i> Quay Lại
                </a>
            </div>
        </form>
    </div>
</div>
<div class="box-footer">
</div>


